<a href="https://colab.research.google.com/github/yamangoyal29/ASSIGNMENTS/blob/main/python%20assignment%203.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PYTHON ASSIGNMENT 3 QUESTION 1.1

In [ ]:
l=[47,11,5,656,1,85]
def myreduce(a):
    return(sum(a))  
myreduce(l)

805

PYTHON ASSIGNMENT 3  QUESTION 1.2

In [ ]:
def myfilter(a):
    for i in a:
        if i%3==0:
            print(i)


l=range(0,20)
myfilter(l)

0
3
6
9
12
15
18

python assignment 3 question 2

In [1]:
a=["x","y","z"]
result = [i*j for i in a for j in range(1,5)]
result

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [2]:
a=["x","y","z"]
resul=[i*j for j in range(1,5) for i in a]
resul

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [3]:
new=[2,3,4]
result3=[[i+j] for i in new for j in range(0,3)]
result3

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [4]:
four=[2,3,4,5]
result4=[[i+j for i in four] for j in range(0,4)]
result4

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [5]:
result5=[(i,j) for i in range(1,4) for j in range(1,4)]
result5

[(1, 1), (1, 2), (1, 3), (2, 1), (2, 2), (2, 3), (3, 1), (3, 2), (3, 3)]